body {
    background-image: url("./Autumn+Leaves1.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
}

.cities {
    text-align: justify;
    
}



#dashboard {
    border-style: solid;
    border-color: black;
    background: lightblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-left: 20%;
    margin-right: 20%;
}

.weather-container {
    border-style: unset;
    background: gray;
    color: black;
    text-align: center;
    margin-right: 30%;
    margin-left: 30%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-emphasis: bold;
    
}

P {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.austin:hover {
    color: rgb(236, 102, 13);
}

.austin {
    font-size: x-large;
}

.atlanta:hover {
    color: rgb(236, 102, 13);
}

.atlanta {
    font-size: x-large;
}

.boston:hover {
    color: rgb(236, 102, 13);
}

.boston {
    font-size: x-large;
}


.denver:hover {
    color: rgb(236, 102, 13);
}

.denver {
    font-size: x-large;
}

.los-angeles:hover {
    color: rgb(236, 102, 13);
}

.los-angeles {
    font-size: x-large;
}