h1 {
    text-align: center;
}

#dashboard {
    border-style: solid;
    border-color: black;
    background: lightblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-left: 20%;
    margin-right: 20%;
}

.weather-container {
    border-style: unset;
    background: white;
    color: black;
    text-align: center;
    margin-top: 40px;
    margin-right: 40%;
    margin-left: 40%;
}